$white: #fff;
$lightblue: #57abc1;
$navyblue: #062540;

@mixin box-shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

@mixin hover-effect {
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken($white, 15%);
    transition: all 0.3s;
    z-index: -1;
  }
  &:hover {
    cursor: pointer;
    &:before {
      width: 100%;
    }
  }
}

//scrollbar
.search_results::-webkit-scrollbar {
  width: 11px;
}
.search_results {
  scrollbar-width: thin;
  scrollbar-color: darken($white, 10%) darken($lightblue, 10%);
}

.search_results::-webkit-scrollbar-track {
  background: darken($lightblue, 10%);
}
.search_results::-webkit-scrollbar-thumb {
  background-color: darken($white, 10%);
}
//scrollbar

//loader and animation
.loader {
  margin: 1rem auto 0 auto;
  border: 0.5rem solid #f3f3f3;
  border-radius: 50%;
  border-top: 0.5rem solid darken($white, 30%);
  width: 2rem;
  height: 2rem;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
//loader and animation

.hidden {
  display: none;
}





.search_field {
  width: 30rem;
  height: 1.5rem;
  color: $navyblue;
  font-size: 1.5rem;
  border: none;
  padding: 0.75rem;
  @include box-shadow();
}

.search_field:focus {
  outline: none;
}

.search_field_container {
  display: flex;
  justify-content: center;
}

.search_button {
  @include box-shadow();
  border: none;
  margin-left: 1rem;
  padding: 0.5rem;
  height: 3rem;
  color: $white;
  @include hover-effect();
}

.search_button img {
  max-width: 100%;
  max-height: 100%;
}

.search_results {
  @include box-shadow();
  margin: 1rem auto 0 auto;
  background-color: $white;
  color: darken($navyblue, 20%);
  text-align: left;
  width: 35.5rem;
  height: auto;
  overflow: scroll;
  overflow-x: hidden;
  max-height: 20rem;
}

.search_results .result {
  margin: 0;
  text-decoration: none;
  @include hover-effect();
}

.search_results a {
  padding: 0.75rem;
  text-decoration: none;
  color: darken($navyblue, 20%);
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search_results a .star {
  font-size: 1rem;
}

.item_name {
  width: 82%;
}

.stars {
  width: 18%;
}

.sort_button {
  padding: 0.75rem;
  background-color: #062540;
  color: $lightblue;
  margin: 0;
}
.sort_button span:hover {
  cursor: pointer;
}

.load_more {
  border: none;
  background-color: $white;
  padding: 0.5rem;
  height: 3rem;
  color: $lightblue;
  background-color: $navyblue;
  width: 100%;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}

.load_more:disabled {
  background: darken($white, 30%);
  cursor: initial;
  color: #6d6d6d;
}
